@font-face { font-family: Cheltenham; src: url('Cheltenham.ttf'); } 

.header{
    border-bottom: 1.4px solid rgb(201, 198, 198);
    height:40px;
    width: 99.7%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: white;
}

.header-icons {
    float:right;
    padding-right: 45px;
    padding-top: 6.5px;
}

.header-title-wrapper {
    padding-top: 13px;
    padding-left: 620px;
    display:inline-block;
}

.nyt-logo {
    width:170px;
    top: 12px;
    left: 20px;
    position:fixed;
}

.header-title-text{
    display:inline;
    letter-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12.5px;
}

.header-second-title-text{
    display:inline;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.015em;
}

.site-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 75px;
}

.story {
    display:flex;
    flex-direction: column;
    align-content: center;
}

.article-intro {
    display:flex;
    flex-direction: column;
}

.article-intro-heading {
    width: 600px;
    align-self: center;
}

.article-intro-heading-title {
    font-size:2.2rem;
    font-weight:5000;
    font-style:italic;
    font-family: Cheltenham;
}

.intro-image{
    max-width: 1200px;
}

.article-intro-information {
    align-self: center;
    width:600px;
}

.start-of-article-date {
    float: left;
}

.start-of-article-second-line-intro-wrapper{
    float:right;
}

.article-author{
    width: 600px;
}

.logo {
    padding-left: 10px;
}

.circlelogo {
    height: 27.5px;
    margin-left: 9px;
    width: 27.5px;
    border-radius: 50%;
    background-color: #eee;
}

.article-author{
    padding-top: 40px;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.start-of-article-date {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    color:#333;
    font-size: 0.8125rem;
    line-height: 1rem;
}

.article-body {
    align-self:center;
    margin:25px;
    margin-bottom: 0px;
    margin-top:0px;
    width:600px;
}

.article-body-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

h2 {
    padding: 0px;
}

.intro-image-description {
    max-width: 740px;
    margin:0px;
    color: #666;
}

.article-video-description {
    margin:0px;
    color: #666;
    font-style:bold;
    margin-top: 5px;
}

.article-body-video {
    margin-top: 35px;
    margin-bottom: 35px;
}

.bottom-of-article {
    align-self: center;
    margin:0px;
    width:600px;
}

.logo {
    height: 25px;
    width: 25px;
}

.end-of-article-info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    color: rgb(102,102,102);
    font-size: 0.75em;
    line-height: 1rem;
    margin-bottom: 1.5em;
}

.open-comments-button {
    height: 36px;
    width: 330px;
    background-color:rgb(86,123,149);
    float:left;
    border-radius: 3px;
    outline-style: thin;
    outline-color: rgb(50,104,145);
}

.open-comments-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8125rem;
    text-align: center;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}

.bottom-of-article-social-media-wrapper {
    float:right;
}

.article-body-satellite-image {
    align-self: center;
    width:720px;
}

.satellite-image {
    width: 720px;
}

.article-body-theory-of-inflation{
    align-self: center;
    width: 925px;
    padding-bottom: 30px;
}

.theory-of-inflation-title{
    padding-bottom: 8px;
    font-size: 1.25rem;
    font-family: Cheltenham;
    font-weight:700;

}

.theory-of-inflation-description{
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
    color: #666;
    font-size: 0.875em;
    line-height: 1.125rem;
}

.theory-of-inflation-image{
    width: 925px;
}

.article-body-theory-of-inflation-image-container{
    position: relative;
    width: 925px;
}

.inflation-image-description-container{
    position: absolute;
    top: 140px;
    left: 0px;
    display:flex;
    flex-wrap: wrap;
}

.inflation-subimage-description-container {
    box-sizing: border-box;
    width:228px;
    padding-left: 4px;
}

.inflation-image-whitespace{
    width:925px;
    height:130px;
}

.inflation-subimage-description-container-title{
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display:inline;
    padding-right: 4px;
}

.inflation-subimage-description-container-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    display:inline;
}
