@font-face { font-family: Cheltenham; src: url('Cheltenham.ttf'); } 

.site-content {
    border-style: solid;
    border-color: red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.story {
    border-style: solid;
    border-color: red;
    display:flex;
    flex-direction: column;
    align-content: center;
}

.header{
    border-style: solid;
    border-color: red;
    margin:50px;
}

.article-intro {
    border-style: solid;
    border-color: red;
    display:flex;
    flex-direction: column;
}

.article-intro-heading {
    border-style: solid;
    border-color: red;
    width: 600px;
    align-self: center;
}

.article-intro-heading-title {
    font-size:2.2rem;
    font-weight:5000;
    font-style:italic;
    font-family: Cheltenham;
}

.intro-image{
    width: 1200px;
}

.article-body {
    align-self:center;
    border-style: solid;
    border-color: red;
    margin:25px;
    width:600px;
}

.article-body-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.bottom-of-article {
    border-style: solid;
    border-color: red;
    align-self: center;
    margin:50px;
    width:600px;
}

.recirculation {
    border-style: solid;
    border-color: red;
    margin:50px;
}

.site-index {
    border-style: solid;
    border-color: red;
    margin:50px;
}

.footer {
    border-style: solid;
    border-color: red;
    margin:50px;
}

h2 {
    padding: 0px;
}

